---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

.spotify-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #1DB954;
  color: white;
  border-radius: 25px;
  font-family: Arial, sans-serif;
  text-decoration: none;
}
.spotify-icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}
